body {
  background-color: #1e2123;
};

p {
  color: white;
};

h1 {
  color: white;
};

h2 {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2123; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.closebtn-danger {
  margin-left: 15px;
  color: rgb(216, 34, 34);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn-danger:hover {
  color: rgb(223, 78, 78);
}

.closebtn-success {
  margin-left: 15px;
  color: rgb(72, 221, 109);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn-success:hover {
  color: rgb(171, 243, 181);
}

.goback {
  color: white;
  font-weight: bold;
  line-height: 0%;
  height: auto;
  width: auto;
  float: right;
  font-size: 22px;
  size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.goback:hover {
  color: rgb(184, 164, 164);
}

.card-status-ready {
  padding: 20px;
  border-radius: 35px;
  height: 275px; 
  box-shadow: 0 0 4px 2px #43f278;
  margin: 20px;
  display: flex;
  display: inline-block;
  width: 235px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card-status-ready:hover {
  box-shadow: 0 0 10px 5px #43f278;
  border: 20px;
  color: #43f278;
  transform: translateY(-0.30em);
}

.card-status-unready {
  padding: 20px;
  border-radius: 35px;
  height: 275px; 
  box-shadow: 0 0 4px 2px #ff0a0a;
  margin: 20px;
  display: flex;
  display: inline-block;
  width: 235px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card-status-unready:hover {
  box-shadow: 0 0 10px 5px #ff0a0a;
  border: 20px;
  color: #ff0a0a;
  transform: translateY(-0.30em);
}

.card-overview {
  padding: 20px;
  border-radius: 35px;
  height: 235px;
  box-shadow: 0 0 4px 2px #19191d;
  margin: 20px;
  display: flex;
  width: 300px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card-overview:hover {
  box-shadow: 0 0 10px 5px #19191d;
  border: 20px;
  color: transparent;
  transform: translateY(-0.30em);
}

#table-giveaway-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-color: black;
  width: 45%;
  color: white;
}

#table-giveaway-list td, #table-giveaway-list th {
  border: 1px solid black;
  padding: 8px;
}

#table-giveaway-list tr:nth-child(even){background-color: #383d41;}

#table-giveaway-list tr:hover {background-color: #383838;}

#table-giveaway-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #23272A;
  color: white;
}