<%- include("partials/header", { bot, user, path, title: `${bot.user.username}` }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <center>
      <h1 style="color: white;"><%= bot.user.username %></h1>
      <br>
      <h3 style="color: white;">Hold Giveaways On Discord Servers Quickly And Easily!</h3>
    </center>
    <a class="btn btn-primary text-white" href="/dashboard">Dashboard</a>
    <a class="btn btn-secondary text-white" href="/invite">Invite The Bot</a>
    <a class="btn btn-secondary text-white" href="/support">Support Server</a>
  </div>
</div>

<p style=" text-align: center; color: white; position: absolute; bottom: 0; width: 100%;"> Copyright &copy; 2021 <%= bot.user.username %>. All Rights Reserved. Made With 💖 In <b><a href="https://github.com/abalabahaha/eris" style="text-decoration: none; color: rgb(121, 190, 255);">Eris</a></b></p>
<%- include("partials/footer")%>